obproject/private/
builprivate/
build/
nbbuild/
nbdist/
nbactions.xml
.nb-gradle//
nbbuild/
nbdist/
nbactions.xml
.nb-gradle/
/record
/dbsetting
dist/dbsetting
dist/record/log.txt
nbproject/private/profiler